<h2>main-menu works!</h2>
<h1>Main Menu</h1>
<h1>I'm Mushfiqur Shovon</h1>
<h1>Front-end Developer</h1>
<p>Innovative, dedicated individual with strong enthusiasm in developing user-friendly web designs. Actively
    engaged and accomplished several projects involving web and software developments. Adept in crafting
    user interfaces, implementing new features, writing and testing codes and troubleshooting simple issues.
    Self-motivated and devoted to take challenges and try diverse problem-solving approach.
    </p>
<button>Hire Me <mat-icon>trending_flat</mat-icon></button>