sidenav-container {
  height: 100%;
}

sidenav {
  width: 200px;
}

sidenav .mat-toolbar {
  background: inherit;
}

mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
/* button {color: aqua;text-align: center;} */
button {
  background-color: #4CAF50; /* Green */
  border: 2px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 85%;
}
body { margin: 20px; font-family: Roboto, "Helvetica Neue", sans-serif; }