<h2>left-menu works!</h2>

<h1>Left Menu</h1>
<div>
    <img src="assets/image/shovon.jpg">
</div>

    <h2>A. H. M. Mushfiqur Rahman</h2>
    <h3>Front-End Developer</h3>

<mat-divider></mat-divider>

<h4>Age         : 25 </h4>
    <h4>Residence   : BD </h4>
    <h4>Address     : Dhaka,Bangladesh </h4>
    <h4>Freelance   : Yes</h4>

<mat-divider></mat-divider>

<h2>Language</h2>
    <h4>Bangla : 100%</h4>
    <h4>English :60%</h4>

<mat-divider></mat-divider>

<h2>Skills</h2>
    <h4>HTML :90%</h4>
    <h4>CSS : 85%</h4>
    <h4>JS :70%</h4>
    <h4>TypeScript :70%</h4>
    <h4>Angular :60%</h4>

<mat-divider></mat-divider>

<h2>Extra Skills</h2>
    <h4><div><mat-icon>rectangle</mat-icon> Bootstrap,Angular material</div></h4>   <br>

 





