<h2>education works!</h2>
<h1>Bachelor of Science (B.Sc.) in Computer Science & Engineering (4 years)</h1>
<h2>Institution	: Bangladesh Army University of Engineering & Technology (BAUET), Qadirabad, Dayarampur, Natore.</h2>
<h2>Department		: Computer Science & Engineering</h2>
<h2>CGPA			: 3.14 (Out of 4)</h2>
<h2>Passing Year		: 2020</h2>

<mat-divider></mat-divider>

<h1>Higher Secondary Certificate (HSC)</h1>
<h2>Institution		: Govt. Akbar Ali College, Ullapara, Sirajganj.</h2>
<h2>Board			: Rajshahi</h2>
<h2>Group			: Science</h2>
<h2>GPA			: 3.83(Out of 5)</h2>
<h2>Passing Year		: 2015</h2>

<mat-divider></mat-divider>

<h1>Secondary School Certificate (SSC)</h1>
<h2>Institution		: Momena Ali Biggan School, Ullapara, Sirajganj.</h2>
<h2>Board			: Rajshahi</h2>
<h2>Group			: Science</h2>
<h2>GPA			: 4.88(Out of 5)</h2>
<h2>Passing Year		: 2013</h2>





