<p>price-plans works!</p>
<h1>Price Plans</h1>

<div>
    <h3><b>Silver</b></h3>
    <h2>$5.00/Hour</h2>
    <p>For Most Business That Want To Optimize Web Queries</p>
    <h4>UI Design</h4>
    <h4>Web Development</h4>
    <h4>Logo Design</h4>
    <h4>Sea Optimization</h4>
    <h4>Wordpress Integration</h4>
    <h4>5 Websites</h4>
    <h4>Unlimited User</h4>
    <h4>20 GB Bandwith</h4>
</div>

<mat-divider></mat-divider>

<div>
    <h3><b>Gold</b></h3>
    <h2>$50.00/Hour</h2>
    <p>For Most Business That Want To Optimize Web Queries</p>
    <h4>UI Design</h4>
    <h4>Web Development</h4>
    <h4>Logo Design</h4>
    <h4>Sea Optimization</h4>
    <h4>Wordpress Integration</h4>
    <h4>5 Websites</h4>
    <h4>Unlimited User</h4>
    <h4>20 GB Bandwith</h4>
</div>

<mat-divider></mat-divider>

<div>
    <h3><b>Diamond</b></h3>
    <h2>$85.00/Hour</h2>
    <p>For Most Business That Want To Optimize Web Queries</p>
    <h4>UI Design</h4>
    <h4>Web Development</h4>
    <h4>Logo Design</h4>
    <h4>Sea Optimization</h4>
    <h4>Wordpress Integration</h4>
    <h4>5 Websites</h4>
    <h4>Unlimited User</h4>
    <h4>20 GB Bandwith</h4>
</div>
