<h2>my-services works!</h2>
<h1>My Services</h1>
<div>
    <mat-icon>code</mat-icon>
    <h2>Web Development</h2>
    <h4>Blog E-commerce</h4>
</div>

<div>
    <mat-icon>computer</mat-icon>
    <h2>UI/UX Design</h2>
    <h4>Mobile App,Website Design</h4>
</div>

<div>
    <mat-icon>play_circle_filled</mat-icon>
    <h2>Sound Design</h2>
    <h4>Voice Over,Beat Making</h4>
</div>

<div>
    <mat-icon> insert_emoticon</mat-icon>
    <h2>Game Design</h2>
    <h4>Character Design, Props & Objects</h4>
</div>

<div>
    <mat-icon>camera_enhance</mat-icon>
    <h2>Photography</h2>
    <h4>Product Photography</h4>
</div>